In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Ge7.csv")

In [5]:
df.head(10)

    Name  Gender  Monthly Income (Rs.)
0   Shah    Male                114000
1   Vats    Male                 65000
2   Vats  Female                 43150
3  Kumar  Female                 69500
4   Vats  Female                155000
5  Kumar    Male                103000
6   Shah    Male                 55000
7   Shah  Female                112400
8  Kumar  Female                 81030
9   Vats    Male                 71900

In [8]:
highest_income_member = df.loc[df['Monthly Income (Rs.)'].idxmax()]
print("Member with the highest monthly income:")
print(highest_income_member)
print()

Member with the highest monthly income:
Name                      Vats
Gender                  Female
Monthly Income (Rs.)    155000
Name: 4, dtype: object

In [9]:
income_greater_than_60000 = df[df['Monthly Income (Rs.)'] > 60000.00]
print("Monthly income of members with income greater than Rs. 60000.00:")
print(income_greater_than_60000)
print()

Monthly income of members with income greater than Rs. 60000.00:
    Name  Gender  Monthly Income (Rs.)
0   Shah    Male                114000
1   Vats    Male                 65000
3  Kumar  Female                 69500
4   Vats  Female                155000
5  Kumar    Male                103000
7   Shah  Female                112400
8  Kumar  Female                 81030
9   Vats    Male                 71900

In [11]:
average_female_income = df[df['Gender'] == 'Female']['Monthly Income (Rs.)'].mean()
print("Average monthly income of female members:", average_female_income)

Average monthly income of female members: 92216.0