In [ ]:
import pandas as pd    
import numpy as np

In [29]:
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))

In [30]:
df

     A   B   C   D
0   56  10  88  36
1   51  92   2  54
2   60  89  77   8
3   38  14  34  29
4   77   9   7  79
5   58  67  58  41
6   96  96  58  76
7   49  94  87  28
8   45  34  99  34
9    8  53  77  67
10  56  87   7  21
11  91  35  69  51
12  65  76  85  60
13  35   2  45  27
14  27  95   0  58

In [18]:
null_indices = np.random.choice(df.size, size=int(df.size * 0.1), replace=False)
df.values.ravel()[null_indices] = np.nan

ValueError: cannot convert float NaN to integer

In [19]:
null_indices

array([27, 39, 57, 18, 41,  1])

In [20]:
missing_values_count = df.isnull().sum()
print("Missing values count:")
print(missing_values_count)

Missing values count:
A    0
B    0
C    0
D    0
dtype: int64

In [21]:
df = df.dropna(axis=1, thresh=df.shape[0] - 5)
print("Data frame after dropping columns:")
print(df)

Data frame after dropping columns:
     A   B   C   D
0   17  34  29  46
1   43  55  33  77
2   28  47  41  73
3   73  24  59  83
4   52   8   4  94
5    2  51   5  69
6   43  11  84   3
7   82  86  29  60
8   76  67  50  39
9   94  88  91  76
10  19  57  72  99
11  36  85  79  12
12  99  79  40  34
13  13  41  17  99
14  36  50  34  33

In [22]:
max_sum_row_label = df.sum(axis=1).idxmax()
df = df.drop(max_sum_row_label)
print("Data frame after dropping row with the maximum sum:")
print(df)

Data frame after dropping row with the maximum sum:
     A   B   C   D
0   17  34  29  46
1   43  55  33  77
2   28  47  41  73
3   73  24  59  83
4   52   8   4  94
5    2  51   5  69
6   43  11  84   3
7   82  86  29  60
8   76  67  50  39
10  19  57  72  99
11  36  85  79  12
12  99  79  40  34
13  13  41  17  99
14  36  50  34  33

In [24]:
df = df.sort_values(by='A')
print("Data frame after sorting based on the first column:")
print(df)

Data frame after sorting based on the first column:
     A   B   C   D
5    2  51   5  69
13  13  41  17  99
0   17  34  29  46
10  19  57  72  99
2   28  47  41  73
11  36  85  79  12
14  36  50  34  33
1   43  55  33  77
6   43  11  84   3
4   52   8   4  94
3   73  24  59  83
8   76  67  50  39
7   82  86  29  60
12  99  79  40  34

In [25]:
df['A'] = df['A'].drop_duplicates()
print("Data frame after removing duplicates from the first column:")
print(df)

Data frame after removing duplicates from the first column:
       A   B   C   D
5    2.0  51   5  69
13  13.0  41  17  99
0   17.0  34  29  46
10  19.0  57  72  99
2   28.0  47  41  73
11  36.0  85  79  12
14   NaN  50  34  33
1   43.0  55  33  77
6    NaN  11  84   3
4   52.0   8   4  94
3   73.0  24  59  83
8   76.0  67  50  39
7   82.0  86  29  60
12  99.0  79  40  34

In [27]:
correlation = df['A'].corr(df['B'])
covariance = df['B'].cov(df['C'])
print("Correlation between the first and second columns:")
print(correlation)
print("Covariance between the second and third columns:")
print(covariance)

Correlation between the first and second columns:
0.31736046448663674
Covariance between the second and third columns:
75.43956043956047

In [28]:
df['B_bins'] = pd.cut(df['B'], bins=5)
print("Data frame with second column discretized into 5 bins:")
print(df)

Data frame with second column discretized into 5 bins:
       A   B   C   D         B_bins
5    2.0  51   5  69   (39.2, 54.8]
13  13.0  41  17  99   (39.2, 54.8]
0   17.0  34  29  46   (23.6, 39.2]
10  19.0  57  72  99   (54.8, 70.4]
2   28.0  47  41  73   (39.2, 54.8]
11  36.0  85  79  12   (70.4, 86.0]
14   NaN  50  34  33   (39.2, 54.8]
1   43.0  55  33  77   (54.8, 70.4]
6    NaN  11  84   3  (7.922, 23.6]
4   52.0   8   4  94  (7.922, 23.6]
3   73.0  24  59  83   (23.6, 39.2]
8   76.0  67  50  39   (54.8, 70.4]
7   82.0  86  29  60   (70.4, 86.0]
12  99.0  79  40  34   (70.4, 86.0]